.formulario {
    display: flex;
    justify-content: center;
    margin-top: 20px;

    h1 {
        margin: 0;
    }

    .contacto {
        background-color: #ffb6c1;
        border-radius: 8px;
        padding: 20px;
        width: 300px;

        label {
            display: block;
            margin-bottom: 8px;
        }

        input,
        textarea {
            width: calc(100% - 16px);
            padding: 8px;
            border: 1px solid #ccc;
            border-radius: 5px;
            margin-bottom: 16px;
        }
    }



    button {
        margin: auto;
        display: block;
        background-color: #ffebcd;
        color: #000;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
            background-color: #f9d39f;
        }
    }

    @include tablet {
        display: flex;
        margin-top: 20px;
        justify-content: space-evenly;
        align-items: center;
    }

    @include desktop {
        display: flex;
        margin-top: 20px;
        justify-content: space-evenly;
        align-items: center;

        .mapa{
            width: 650px;
            height: 450px;
        }
    }
}

@media screen and (max-width: 767px) {
    .mapa {
        display: none;
    }
}