.inicio {

    img {
        display: block;
        margin: 0 auto;
        width: 80%;
        margin-bottom: 20px;
    }

    @include tablet {
        img {
            display: block;
            margin: 0 auto;
            width: 95%;
            margin-bottom: 20px;
        }
    }

    @include desktop {
        h1 {
            text-align: left;
            margin-left: 100px;
        }

        img {
            float: left;
            width: 25%;
            margin-left: 20px;
            margin-right: 20px;
        }

        p {
            text-align: justify;
        }
    }

}