.productos {
    display: flex;
    flex-direction: column;

    .producto {
        padding: 20px;
        text-align: center;

        p{
            text-align: center;
        }
    }

    .producto-img {
        width: 350px;
        height: 250px;
        margin: 15px 0 15px 0;
    }
    
    @include tablet {
        display: grid;
        grid-template-columns: repeat(3, 1fr);

        p{
            text-align: center;
        }
    }

    @include desktop {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

}